<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.boot.commu.model.Posts" alias="posts"/>
		<typeAlias type="com.boot.commu.model.Users" alias="users"/>
	</typeAliases>
</configuration>