<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.boot.commu.model.Posts" alias="posts"/>
		<typeAlias type="com.boot.commu.model.Page" alias="page"/>
		<typeAlias type="com.boot.commu.model.Notices" alias="Notice"/>
		<typeAlias type="com.boot.commu.model.Users" alias="users"/>
		<typeAlias type="com.boot.commu.model.Comments" alias="comments"/>
		<typeAlias type="com.boot.commu.model.Region_province" alias="province"/>
		<typeAlias type="com.boot.commu.model.Region_city" alias="city"/>
		<typeAlias type="com.boot.commu.model.Hashtags" alias="hashtag"/>
	</typeAliases>
</configuration>